
html {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  margin-top: 20px;
}


.section {
  width: 230px;
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}

.aside {
  width: 70%;
  display: inline-block;
  margin-left: 30px;

}

.mainimg img {
  height: 230px;
  width: 230px;
}

.names h2 {
  margin: 10px 0 0 0;
  font-size: 1.75em;
}

.names p {
  margin: 0;
  padding-bottom: 10px;
  color: grey;
  font-size: 1.25em;
  border-bottom: 1px solid #BBBBBB;
  font-weight: normal;
}

.time p {
  border-bottom: 1px solid #BBBBBB;
  padding-bottom: 15px;
}

.friendsList ul {
  list-style-type: none;
  padding: 0px;
  padding-bottom: 15px;
  border-bottom: 1px solid #BBBBBB;
}

.friendsList li {
  display: inline-block;
  text-align: center;
  padding-left: 20px;
}

.friendsList a {
  text-decoration: none;
  color: black;
}

.friendsList a:hover {
  color: #4183C4;
}

.friendsList h3 {
  font-size: 2em;
  margin: 0px;
}

.friendsList p {
  margin: 0px;
  font-size: .7em;
}

.orgsSection p {
  font-size: 1.25em;
}

.orgsSection img {
  height: 36px;
  width: 36px;
}

----- Tabs -----
.tabs {
  width:100%;
  display:inline-block;
}

----- Tab Links -----
/* Clearfix */
.tab-links:after {
  display:block;
  /* clear:both; */
  /* content:''; */
}

.tab-links {
  border-bottom: 1px solid #BBB;
  padding: 0px;
}

.tab-links li {
  margin:0px;
  display:inline-block;
  list-style:none;
}

.tab-links a {
  padding:9px 15px;
  display:inline-block;
  border-radius:3px 3px 0px 0px;
  font-size:.8em;
  color:#666666;
  text-decoration: none;
}

li.active a {
  background:#fff;
  color:#4c4c4c;
  border: 1px solid #BBBBBB;
  border-bottom: none;
}

----- Content of Tabs -----
.tab-content {
  padding:15px;
  border-radius:3px;
  box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
  background:#fff;
}

.tab {
  display:none;
}

.tab.active {
  display:block;
}

.editProfile {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  background-color: #F6F6F6;
  padding: 7px 10px;
  margin-left: 269px;
  color: #333333;
  font-weight: bold;
  font-size: .8em;
}

.editProfile:hover {
  background-color: #E8E8E8;
}

.tab-links.editProdile {
  padding: 7px 10px;
}

.searchBar {
  border-bottom: 1px solid #BBB;
}

li .activeText a {
  color: black;
}

.searchBar ul {
  list-style-type: none;
  padding: 0px;
}

.searchBar li {
  display: inline-block;
}

.searchBar li a {
  color: #4186CD;
  text-decoration: none;
  padding-left: 6px;
}

.searchBar li a:hover {
  text-decoration: underline
}

.searchBar li form input {
  height: 30px;
  border-radius: 5px;
  width: 260px;
  border: 1px solid #CCCCCC;
  font-size: .8em;
}

.searchBar li form input.searchButton {
  width: 70px;
  height: 35px;
  background-color: #F6F6F6;
  border: 1px solid #CCCCCC;
  font-size: .8em;
  font-weight: bold;
}

.searchBar li form input.searchButton:hover {
  background-color: #E0E0E0;
}

.searchBar li.allli {
  padding-left: 25px;
}

.newButton {
  padding-left: 10px;
}

.newButton button {
  background-color: #76C759;
  border-radius: 5px;
  padding: 8px 12px;
  color: white;
  border: 1px solid green;
}

.newButton button:hover {
  background-color: #59A23F;
}
.newButton span {
  padding-right: 5px;
}

.reposTmplWrapper {
  border-bottom: 1px solid #BBBBBB;
  height: 100px;
}

.reposImg {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  margin-left: 5px;
  color: #BBBBBB;
}

.reposText {
  display: inline-block;
  margin-top: 20px;
}

.reposText a {
  margin: 0px;
  font-size: 1.35em;
  padding-left: 20px;
  text-decoration: none;
  color: #4183C4;
  font-weight: bold;
}

.reposText a:hover {
  text-decoration: underline;
}

.reposText p {
  padding-top: 10px;
  margin: 0px;
  padding-left: 20px;
}


.reposList {
  display: inline-block;
  float: right;
  margin-top: 15px;
  font-size: .75em;
}


.reposList li {
  list-style-type: none;
  display: inline-block;
  padding-right: 10px;
  color: #BBBBBB;
}

.reposList a {
  text-decoration: none;
  color: #BBBBBB;
}

.reposList a:hover {
  color: #4183C4;
}

.pEventsTmplWrapper {
  border-bottom: 1px solid #BBBBBB;
  padding-top: 15px;
}

.pEventsTmplWrapper span {
  color: #BBBBBB;
}

.gitimage {
  width: 5%;
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}

.pushEventAside {
  display: inline-block;
}

.eventsTime span {
  color: #BBBBC3;
  font-size: .7em;
}

.eventsTitle a {
  color: #4183C4;
  text-decoration: none;
}

.eventsTitle a:hover {
  text-decoration: underline;
}

.eclimg {
  height: 30px;
  width: 30px;
}

.ecsimg {
  height: 16px;
  width: 16px;
}

.eventCommits ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 15px;
}

.eventCommits li {
  display: inline-block;
  vertical-align: top;
}

.eventCommits li a {
  text-decoration: none;
  font-size: .7em;
}

.eventCommits li a:hover {
  text-decoration: underline;
}

.createdRepo {
  border-bottom: 1px solid #BBB;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: .8em;
  font-weight: normal;
  padding-left: 10px;
}

.createdRepo span {
  color: #BBBBC3;
}

.createdRepoLink {
  padding-left: 17px;
}

.createdRepo a {
  color: #4183C4;
  text-decoration: none;
}

.createdRepo a:hover {
  text-decoration: underline;
}

.createdRepo .createdRepoText {
  color: #66666F;
}

.branchMaster {
  border-bottom: 1px solid #BBB;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: .8em;
  font-weight: normal;
  padding-left: 10px;
  color: #66666F;
}

.branchMaster span {
  color: #BBBBC3;
}

.branchMasterLink {
  padding-left: 19px;
}

.branchMaster a {
  color: #4183C4;
  text-decoration: none;
}

.branchMaster a:hover {
  text-decoration: underline;
}

.masterButton {
  background-color: #E8F1F6;
  padding: 4px;
  border-radius: 4px;
}
